@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
:root {
  --font: "Patrick Hand", cursive;
}

.App {
  text-align: center;
  position: relative;
  height: 100vh;
}

button {
  cursor: pointer;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
#header span {
  margin-block-start: -0px;
  margin-block-end: -0px;
  line-height: 100px;
  height: 100px;
  font-weight: 500;
  text-align: center;
  font-size: 500%;
  font-family: var(--font);
  text-shadow: 5px 5px 10px rgba(226, 226, 226, 0.495);
}
#header button {
  display: flex;
  background-color: #ffdf6d;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  border-width: 1px;
}

.button-icons {
  display: flex;
}

#sticky-notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sticky-note {
  text-align: center;
  background-color: #ffdf6d;
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 10px 5px rgba(210, 210, 210, 0.293);
  margin: 10px;
  padding: 10px;
  border-radius: 0px 0px 30px 0px;
}
.title {
  font-family: var(--font);
  font-size: 20px;
  height: 25px;
}
.content {
  font-family: var(--font);
  font-size: 20px;
  overflow: hidden;
  height: calc(100% - 25px);
}

/* FORM MODAL */
#form-modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.192);
}

#form-modal {
  position: relative;
  display: flex;
  justify-content: center;
  position: inherit;
  width: 500px;
  height: 500px;
  background-color: #ffdf6d;
  border-radius: 0px 0px 70px 0px;
}

#form-modal form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

input {
  font-size: 24px;
}
#input-container {
  display: flex;
  justify-content: center;
  border: solid;
  border-color: #8f7d3a;
  border-width: 0px 0px 1px 0px;
  align-items: flex-end;
  height: 50px;
  width: 90%;
  margin-bottom: 10px;
}

.input-form {
  font-family: var(--font);
  text-align: center;
  width: 50%;
  background-color: transparent;
  border: none;
  transition: 0.3s;
}
.input-form:focus {
  outline-width: 0;
}

#text-area-container {
  display: flex;
  justify-content: center;
  width: 90%;
  height: calc(100% - 80px);
  margin-bottom: 40px;
}

#text-area-container textarea {
  font-size: 20px;
  font-family: var(--font);
  resize: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  scrollbar-width: none;
}
#text-area-container textarea:focus {
  outline-width: 0;
}

@keyframes arrowFadeIn {
  from {
    color: transparent;
    bottom: 40px;
  }
  to {
    color: black;
    bottom: 30px;
  }
}
@keyframes arrowFadeOut {
  from {
    color: black;
    bottom: 30px;
  }
  to {
    color: transparent;
    bottom: 40px;
  }
}
#down-arrow-button {
  background-color: transparent;
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
}
